//Font Family Variable
$fontFamily__primary: 'Poppins',
sans-serif;

$color__primary:#383D40;
$color__secondary:#666666;

$fsize__large:48px;
$fsize__primary:35px;
$fsize__text:18px;
$fsize__subText:13px;
$fsize__title:28px;


//Padding
$pt5: 5rem;
$pt10: 10rem;
$pb5: 5rem;
$pb10: 10rem;


//Margin
$mt5:5rem;
$mt10:10rem;
$mb5:5rem;
$mb10:10rem;

//BoxShadow
$bShadowButton: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$bShadowItem:rgba(204, 208, 212, 0.2) 0px 8px 24px;

//Linear Gradient
$linearGradient: linear-gradient(90.06deg, #383D40 -4.45%, #fe8d77 104.12%);