/*-----------Sliders--Images------------------*/
.sliders {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #e4f1ff;

    &-content {
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: space-between;
        width: 100%;
        top: 8%;
        padding: 0 8rem;
        z-index: 99999;
    }

    &-image-logo {
        z-index: 1;
        position: absolute;
        top: 30%;
        left: 10%;
        max-width: 20rem;
        max-height: 20rem;
    }

    &-image-content {
        position: absolute;
        bottom: 0%;
        right: 12%;
        max-width: 65rem;
        max-height: 65rem;
        object-fit: cover;
        line-height: 2.5rem;
    }

    &-title {
        font-size: $fsize__large;
        margin-top: 1rem;
        top: 40%;
        color: #277CFB;
    }

    &-description {
        font-size: $fsize__text;
        color: $color__secondary;
        top: 50%;
        width: 500px;
        text-align: left;
        line-height: 3rem;
    }

    &-title,
    &-description {
        pointer-events: none;
        position: absolute;
        left: 9.8%;
        z-index: 99999;
    }

    &-button {
        position: absolute;
        left: 9.8%;
        top: 75%;
        width: 17.5rem;
        border-radius: 0.5rem;
        height: 6.6rem;
        font-size: $fsize__text;
        color: white;
        background: #277CFB;
        transition: all 0.3s linear;
        box-shadow: 0 0 0;

        &:hover {
            color: #277CFB;
            background: white;
            transition: all 0.3s linear;
            box-shadow: $bShadowButton;
        }
    }

    .all-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 90%;
        z-index: 9999;
    }

    .dot {
        display: inline-block;
        width: 1.2rem;
        height: 1.2em;
        margin: 0 0.5rem;
        border-radius: 50%;
        border: none;
        transition: all 0.1s linear;
        cursor: pointer;
        z-index: 9999999;
        background: #fff;
    }

    .active-dot,
    .dot:hover {
        background-color: $color__primary;
        transition: all 0.2s linear;
    }
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}

/*Responsive Tablet Start*/
@media only screen and (max-width:768px) {
    .sliders {

        &-image-logo {
            max-width: 15rem;
            max-height: 15rem;
            top: 20%;
        }

        &-image-content {
            right: -2%;
            max-width: 60rem;
            max-height: 60rem;
        }

        &-title {
            top: 30%;
            font-size: $fsize__primary;
            margin-top: 1rem;
        }

        &-description {
            width: 100%;
            max-width: 75%;
            color: #fff;
            top: 45%;
            padding: 2rem;

            &::after {
                content: "";
                border-radius: 0.5rem;
                position: absolute;
                background: black;
                z-index: -1;
                opacity: .4;
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
            }
        }

        &-button {
            top: 75%;
            border: 1px solid #f1f1fe;
        }

        .all-dots {
            top: 95%;
        }
    }
}

/*Responsive Tablet End*/

/*Responsive Mobile Start*/
/*Responsive Tablet Start*/
@media only screen and (max-width:520px) {
    .sliders {

        &-image-logo {
            top: 15%;
            left: 8%;
        }

        &-image-content {
            right: 0;
            left: 0;
            max-width: 50rem;
            max-height: 50rem;
        }

        &-title {
            margin-top: 1rem;
            left: 8%;
            top: 23%;
            font-size: 30px;
        }

        &-description {
            top: 33%;
            left: 8%;
            width: 100%;
            max-width: 76%;
            padding: 1.5rem;
        }

        &-button {
            left: 8%;
            top: 72%;
        }
    }
}

/*Responsive Mobile End*/